[expander]
sendmail_path: /usr/sbin/sendmail

; or absolute path to log file
log: syslog

;Mailbox format
mailbox: /tmp/mailbox/

;no-reply email address
no-reply: no-reply@eea.europa.eu

[ldap]
ldap_server: ldaps://localhost:636
users_dn: ou=Users,o=EIONET,l=Europe
roles_dn: ou=Roles,o=EIONET,l=Europe
encoding: utf-8
