[expander]
sendmail_path: /usr/sbin/sendmail

; or absolute path to log file
log: syslog

;Mailbox format
mailbox: /tmp/mailbox/

;no-reply email address
no-reply: no-reply@eea.europa.eu
no_owner_send_to: someone@example.com

# roles containing this string will be skipped if not sent to directly
filter_str: -gb
# only apply the filter to roles stating with:
roles_to_filter: eea,eionet

[ldap]
ldap_server: ldaps://ldap.eionet.europa.eu:636
users_dn: ou=Users,o=EIONET,l=Europe
roles_dn: ou=Roles,o=EIONET,l=Europe
encoding: utf-8
user_dn: cn=Accounts Browser,o=EIONET,l=Europe
user_pw:
