<html>
    <head>
    </head>

    <body>
        <p>
            Hello,
        </p>

        <p>
            Your email was successfully sent to all email addresses of the role <a href="http://www.eionet.europa.eu/ldap-roles/?role_id={{role_id}}">{{role_id}}</a>.
        </p>

        <p>
            If you have sufficient permissions you can see a list with all role members <a href="http://www.eionet.europa.eu/ldap-roles/all_members/?role_id={{role_id}}">here</a>.
        </p>
        <br />

        <p>
            Have a great day,
            <br />
            EIONET
        </p>
    </body>
</html>
