<html>
    <head>
    </head>

    <body>
        <p>
            Hello,
        </p>

        <p>
            Your email was successfully sent to all members of the role
            <a href="http://www.eionet.europa.eu/ldap-roles/?role_id={{role_id}}">{{role_id}}</a>.
        </p>

        <p>
            You can see the full list of the members here (be sure to be logged in):
            <a href="http://www.eionet.europa.eu/ldap-roles/all_members/?role_id={{role_id}}">All members of {{role_id}}</a>.
        </p>
        <br />

        <p>
            Have a great day,
            <br />
            EIONET
        </p>
    </body>
</html>
